# Ignorar diretórios de dependências
node_modules/
fixtures/

# Ignorar arquivos de configuração locais
*.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
